.dishInfo {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 4vw;
	background-color: white;
	font-weight: normal;
	text-decoration: none;
	position: center;
	margin: auto;
	padding: 2%;
	overflow: visible;
	text-align: center;
	border: 1.5vw solid white;
}

h1 {
	padding:0px;
	padding-top: 5px;
}

p {
	margin:auto;
	padding:5px;
}

.trafficLight {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	position: center;
	margin: auto;
	text-align: center;
	font-size: 4vw;
	color: black;
	display: table-row;
	border: 1.5vw solid white;
	vertical-align: middle;
	padding: 10%;
	text-decoration: none;
	overflow: visible;
	font-weight: normal;
}

input[type="radio"]{
	display: none;
}

input[type="radio"]:checked + label{
	background-color: #FE8B55;
}

input[type="radio"]:checked + label[for="green"] {
	background-color: #66FF66;
}

input[type="radio"]:checked + label[for="orange"] {
	background-color: #FF9933;
}

input[type="radio"]:checked + label[for="red"] {
	background-color: #FF3333;
}

.trafficLightForm {
	text-align: center;
	position: center;
	width: 100%;
}

.table.rating {
	width:50%;
}

.header {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 5vw;
	text-decoration: none;
	position: center;
	margin: auto;
	padding: 3%;
	overflow: visible;
	background-color: #FFCF7D;
	font-weight: bold;
	text-align: center;
}

.item {
	font-size: 4vw;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	background-color: white;
	font-weight: normal;
	text-decoration: none;
	position: center;
	margin: auto;
	padding: 3%;
	overflow: visible;
	text-align: center;
}

#comment {
	width: 100%;
}

#ingredient {
	padding: 0%;
}

.dishResult {
	background-color: #FFE3B3;
	margin: auto;
	display:table;
	border-style: solid;
	border-color: white;
	border-width: 1.5vw;
	padding: 2%;
	width:90%;
}

h3 {
	width:90%;
	margin:0px;
	float:left;
}