.flagTable {
	display: table;
	width: 75%;
	float:left;
	padding:2%;
	/*border-right: 1px solid;*/
}

.flagTable.option {
	float:right;
	width:17%;
	vertical-align: middle;
	border-right:none;
}

.flagRow {
	display: table-row;
}


.flagCell {
	display: table-cell;
	padding:1%;
	width:50%;
	margin: auto;
}

.flagCell.comment {
	width:100%;
}

.flagCell.decision {
	padding:10%;
}

.flagComment {
	display: table;
	background-color: #FFE3B3;
	width: 100%;
}

.decision {
	width:80%;
	/*float: right;*/
	text-align: center;
}

p {
	margin:auto;
}

.commentTable {
	display: table;
}